.nosotros-img {
    max-height: 500px;
    object-fit: cover;
}

a.nav-link,
button.btn {
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #d1a9ff;
        transform: scale(1.05);
    }
}

body{
    overflow-x: hidden;
}