// _index.scss

.index-imagenes img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        color:pink;
    }
}